<div class="section">
    <div class="container">
        <h2 class="heading" data-aos="fade-up">A smart sanitizing solution with intuitive add-ons</h2>
        <div class="row">
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-4" data-aos="fade-up" data-aos-delay="200">
                        <img src="assets\slice_05_a.png" class="img-fuild" alt="">
                        <p class="desc-content">Easy configuration and support</p>
                    </div>
                    <div class="col-sm-4" data-aos="fade-up" data-aos-delay="500">
                        <img src="assets\slice_05_b.png" class="img-fuild " alt="">
                        <p class="desc-content">Effortlessly add the features that you need</p>
                    </div>
                    <div class="col-sm-4" data-aos="fade-up" data-aos-delay="800">
                        <img src="assets\slice_05_c.png" class="img-fuild" alt="">
                        <p class="desc-content">Safety, the smart and sure way</p>
                    </div>

                </div>
                <button class="btn button-buy" [routerLink]="['/pricing']">BUY NOW</button>
            </div>
            <div class="col-sm-3" data-aos="fade-up" data-aos-delay="1000">
                <div class="footer-img" style="opacity: 1; transform: translateY(0px);">
                    <img src="assets\home\01.png" class="imgage-bootom image-width" alt="">
                </div>
            </div>
        </div>
    </div>
</div>