<app-navbar></app-navbar>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-4 content-section">
            <h4>Login</h4>
            <hr />
            <form [formGroup]="loginWith">
                <div class="form-group">
                    <div class="form-check">
                        <label style="margin-right: 15px;">
                            <input type="radio" value="userID" formControlName="options" (click)="loginWithuserID()">
                            <span>Email ID</span>
                        </label>
                        <label>
                            <input type="radio" value="mobileNumber" formControlName="options"
                                (click)="loginWithmobileNumber()">
                            <span>Mobile number</span>
                        </label><br />
                        <br />
                        <form [formGroup]="loginForm" noValidate>
                            <div *ngIf="loginwithuserID == 'true'">
                                <div class="mb-3">
                                    <label for="emailId" class="form-label">Email Id<span class="danger">*</span></label>
                                    <input type="email" class="form-control" id="emailId" formControlName="userID" [ngClass]="{ 'is-invalid': submitted && f.userID.invalid }">
                                    <div *ngIf="submitted && f.userID.invalid" class="invalid-feedback">
                                        <div *ngIf="f.userID.errors?.required">Email is required.</div>
                                        <div *ngIf="f.userID.errors?.email">Please, enter valid email address.</div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="loginwithmobileNumber == 'true'">
                                <div class="mb-3">
                                    <label for="mobileNumber" class="form-label">Mobile Number<span class="danger">*</span></label>
                                    <input type="tel" class="form-control" id="mobileNumber" formControlName="mobileNumber" (keypress)="onlyNumberKey($event)" [ngClass]="{ 'is-invalid': submitted && f.mobileNumber.invalid }">
                                    <div *ngIf="submitted && f.mobileNumber.invalid" class="invalid-feedback">
                                        <div *ngIf="f.mobileNumber.errors?.required">Mobile Number is required.</div>
                                        <div *ngIf="f.mobileNumber.errors?.pattern">Only numbers.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="passwordlevel" class="form-label">Password<span class="danger">*</span></label>
                                <input type="password" class="form-control" id="passwordlevel" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.invalid }">
                                <div *ngIf="submitted && f.password.invalid" class="invalid-feedback">
                                    <div *ngIf="f.password.errors?.required">Password is required.</div>
                                    <div *ngIf="f.password.errors?.minlength">Password should be 8 character.</div>
                                </div>
                            </div>
                            <button class="button-color btn btn-info" (click)="login()" type="submit">Sign In</button>
                            <div class="text-center">
                                <span class="text-muted">Don't have an account? </span> <a class="text-color" [routerLink]="['/register']">Sign Up</a><br>
                                <a class="text-color" [routerLink]="['/forgot-password']">Forgot Password?</a>

                            </div>
                        </form>
                    </div>

                </div>

            </form>
        </div>

    </div>

</div>