.navbar {
    background-color: white!important;
    padding: 0px;
    margin: 1rem 0;
}
a {
    text-decoration: none!important;
}

.logo {
    font-family: Charlie Display;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #343232; 
}

.sign-in {
    font-family: Charlie Text;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #343232;
}

.sign-in a {
    font-family: CharlieText-Bold;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;    
    color: #343232;
}
