<div class="section">
    <div class="section1" data-aos="fade-up" data-aos-delay="300">
        <h2 class="heading">Digital Solutions for a better life</h2>
    </div>
</div>
<div class="container">

    <div class="section2 " data-aos="fade-up" data-aos-duration="1000">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h3 class="heading-bold">About Us</h3>
                <p></p>
                <p>It is our aim to make complex living, simple! Over time, we begin to depend heavily on the networks that keep us thriving. LifeLabz helps remove the obstacles along this path with smart solutions that assist a vibrant life.</p>
                <p>Our products are powered by IoT and AI technology to help you build a truly smart living space. We do this by bringing intelligent enhancements to products that you use every day.</p>
                <p></p>
            </div>
        </div>
    </div>
    <div class="section3" data-aos="fade-up" data-aos-duration="1500">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <img src="assets\aboutus\about_02.svg" alt="">
            </div>
            <div class="col-md-6 col-sm-12">
                <h3 class="heading-bold">Our Story</h3>
                <p></p>
                <p>Our story begins in 2016 with the establishment of <a href="https://life9sys.com/" target=”_blank” class="life">Life<span class="life9">9</span> Systems</a> to provide solutions and services in the digital arena. In 2019, we transformed
                    into an IoT solutions provider committed to empowering organizations to transform digitally, across verticals. Our team brings decades of experience in smart device design to LifeLabz.</p>
                <p>LifeLabz is our product endeavor with a vision to help bring smart life solutions to every aspect of our individual and collective lives.</p>
                <p></p>
            </div>
        </div>
    </div>
    <div class="section4" data-aos="fade-up" data-aos-duration="1000">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h3 class="heading-bold">The Product</h3>
                <p></p>
                <p>The Dispenser from LifeLabz is a smart sanitizing solution that can be implemented easily and effectively at scale. It can help ensure optimum sanitization with smart integrations to show sanitizer level, throughput during busy times,
                    alerts for refills, and more.</p>
                <p></p>
            </div>
            <div class="col-md-6 col-sm-12">
                <img src="assets\aboutus\about_03.svg" alt="">
            </div>

        </div>
    </div>
</div>
<br><br>
<app-add-on-section></app-add-on-section>