.logo {
  font-family: Charlie Display;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #343232;
  margin-top: 2em;
}

.application_name {
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: Charlie Display;
  font-style: normal;
  font-weight: 500;
  font-size: 52px;
  line-height: 64px;
  letter-spacing: -0.015em;
  color: #343232;
}

.mat-form-field {
  width:100% !important;
}

.forgot-password {
  text-align: right;
}

.forgot-password a {
  text-decoration: none!important;
  color: #343232;
  font-weight: bold;
  font-family:  CharlieText-Bold;  
  font-size: 14px;
  line-height: 16px;
}

.login-button {
  font-family: CharlieText-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #CDCBCB;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  background: #E6E5E5;
  border-radius: 4px;
  order: 2;
  margin: 3em 0px;
}

.login-button-enable {
  background: #343232;
  color: white;
}

.account-request {
  margin-top: 5em;
}

.account-request span {
  font-family: Charlie Text;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #343232;
}

.account-request a {
  font-family: CharlieText-Bold;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #343232;
  text-decoration: none!important;
}

.account-request-icon {
  padding-top: 5px;
}

.login-image {
  background-color: #4E4B4B;
  height: 95vh;
  z-index: -1;
}

.img_cairLogo {
  width: 40%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 20%);
}

.cancel-button {
  border-radius: 0px;
  border: none;
  font-family: CharlieText-Bold;
  font-size: 14px;
  line-height: 16px;
  padding: 12px 0px;
}

.add-button{
  border-radius: 4px;
  font-family: CharlieText-Bold;
  font-size: 14px;
  line-height: 16px;
  // margin: 16px 0px;
  padding: 12px 0px;
}

.title-admin {
  font-family: 'Charlie Display';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.01em;
}

.all_quesions {
  font-family: Charlie Text;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #343232;
  // margin: 0px 16px;
  padding: 0px;
  list-style-type: none;
}

.security-question-answer{
  border: 1px solid #CDCBCB;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.highlight {
  border: 1px solid black;
  padding: 1rem;
  margin-bottom: 1rem;
}

.security-question-answer input {
  border: none;
  border-bottom: 2px dashed #CDCBCB ;
}

.highlight input {
  border: none;
  border-bottom: 2px solid black ;
  border-radius: 0px;
}

input:hover, 
input:active,
input:focus {
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.submit-button {
  font-family: CharlieText-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  background:black;
  border-radius: 4px;
  order: 2;
  margin: 64px 8px;
}