<app-know-avi></app-know-avi>
<div class="section">
    <div class="section-container">
        <div class="section1" data-aos="fade-up" data-aos-delay="300">
            <h2>It is smart. <br>Outside and Inside<br>
            </h2>
        </div>
        <div class="row" data-aos="fade-up" data-aos-delay="400">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr class="text-center">
                                <th scope="col">The LifeLabz dispenser comes in two variants</th>
                                <th scope="col">DI-1000<br>Automatic Sanitizer</th>
                                <th scope="col">DI-2000<br>IoT - Smart Sanitizer </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Simple Automatic Dispenser
                                </td>
                                <td class="text-center">
                                    <mat-icon aria-hidden="false" aria-label="Example home icon" class="icongreen">check_box</mat-icon>
                                </td>
                                <td class="text-center">
                                    <strong> <mat-icon aria-hidden="false" aria-label="Example home icon" class="icongreen">check_box</mat-icon></strong>
                                </td>
                            </tr>

                            <tr>
                                <td>Can be wall-mounted, or used as a tabletop/ pedestal version</td>
                                <td class="text-center">
                                    <mat-icon aria-hidden="false" aria-label="Example home icon" class="icongreen">check_box</mat-icon>
                                </td>
                                <td class="text-center">
                                    <strong> <mat-icon aria-hidden="false" aria-label="Example home icon" class="icongreen">check_box</mat-icon></strong>
                                </td>
                            </tr>

                            <tr>
                                <td>Can be used with soap, liquid, or gel sanitizers</td>
                                <td class="text-center">
                                    <mat-icon aria-hidden="false" aria-label="Example home icon" class="icongreen">check_box</mat-icon>
                                </td>
                                <td class="text-center">
                                    <strong> <mat-icon aria-hidden="false" aria-label="Example home icon" class="icongreen">check_box</mat-icon></strong>
                                </td>
                            </tr>
                            <tr>
                                <td>The option to add a rechargeable battery</td>
                                <td class="text-center">

                                    <mat-icon aria-hidden="false" aria-label="Example home icon" class="icongreen">check_box</mat-icon>
                                </td>
                                <td class="text-center">
                                    <strong> <mat-icon aria-hidden="false" aria-label="Example home icon" class="icongreen">check_box</mat-icon></strong>
                                </td>
                            </tr>

                            <tr>
                                <td>Liquid dispensing volume can be increased or decreased using switches</td>
                                <td class="text-center">
                                    <mat-icon aria-hidden="false" aria-label="Example home icon" class="icongreen">check_box</mat-icon><br>

                                </td>
                                <td class="text-center">
                                    <strong> <mat-icon aria-hidden="false" aria-label="Example home icon" class="icongreen">check_box</mat-icon></strong>
                                </td>
                            </tr>
                            <tr>
                                <td>Cloud connectivity and app-based tracking of sanitizer use</td>
                                <td class="text-center">
                                    <mat-icon aria-hidden="false" aria-label="Example home icon" class="iconred">cancel</mat-icon>
                                </td>
                                <td class="text-center">
                                    <strong> <mat-icon aria-hidden="false" aria-label="Example home icon" class="icongreen">check_box</mat-icon></strong>
                                </td>
                            </tr>



                            <tr>
                                <td>The app can be used to name the device, set location, alter dispensing volume, type of liquid, and more</td>
                                <td class="text-center">
                                    <mat-icon aria-hidden="false" aria-label="Example home icon" class="iconred">cancel</mat-icon>
                                </td>
                                <td class="text-center">
                                    <strong> <mat-icon aria-hidden="false" aria-label="Example home icon" class="icongreen">check_box</mat-icon></strong>
                                </td>
                            </tr>
                            <tr>
                                <td>Quick and accurate alerts for refilling </td>
                                <td class="text-center">
                                    <mat-icon aria-hidden="false" aria-label="Example home icon" class="iconred">cancel</mat-icon>
                                </td>
                                <td class="text-center">
                                    <strong> <mat-icon aria-hidden="false" aria-label="Example home icon" class="icongreen">check_box</mat-icon></strong>
                                </td>
                            </tr>


                            <tr>
                                <td>IoT and app connectivity for better infrastructure management, fewer personnel deployed in a repetitive tasks</td>
                                <td class="text-center">
                                    <mat-icon aria-hidden="false" aria-label="Example home icon" class="iconred">cancel</mat-icon>
                                </td>
                                <td class="text-center">
                                    <strong> <mat-icon aria-hidden="false" aria-label="Example home icon" class="icongreen">check_box</mat-icon></strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="section2" data-aos="fade-up" data-aos-delay="400">
            <div class="headline">
                <h2>Technical Specifications</h2>
            </div>
        </div>
        <div class="section3">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-lg-3 col-sm-12" data-aos="fade-up" data-aos-delay="300">
                        <div class="text">
                            Operating System
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12" data-aos="fade-up" data-aos-delay="300">
                        <div class="image">
                            <img src="assets\specification\01.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12" data-aos="fade-up" data-aos-delay="300">
                        <p>FreeRTOS</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 col-lg-3 col-sm-12" data-aos="fade-up" data-aos-delay="400">
                        <div class="text">
                            Hardware
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12" data-aos="fade-up" data-aos-delay="400">
                        <div class="image">
                            <img src="assets\specification\02.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12" data-aos="fade-up" data-aos-delay="400">
                        <p><strong class="font-weight-bold">Processor</strong><br>ESP32-D0WD-V3 Xtensa Dual Core 32-bit @240 MHz</p>
                        <p><strong class="font-weight-bold">Memory</strong><br>512KB SRAM</p>
                        <p><strong class="font-weight-bold">Storage</strong><br>8MB ROM</p>
                    </div>
                </div>


                <!-- <div class="row">
                    <div class="col-md-3 col-lg-3 col-sm-12" data-aos="fade-up" data-aos-delay="200">
                        <div class="text">
                            Interface
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12" data-aos="fade-up" data-aos-delay="200">
                        <div class="image">
                            <img src="assets\specification\03.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12" data-aos="fade-up" data-aos-delay="200">
                        <p>USB-C Type (power only)</p>
                    </div>
                </div> -->

                <div class="row">
                    <div class="col-md-3 col-lg-3 col-sm-12" data-aos="fade-up" data-aos-delay="300">
                        <div class="text">
                            Weight & Dimensions
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12" data-aos="fade-up" data-aos-delay="300">
                        <div class="image">
                            <img src="assets\specification\04.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12" data-aos="fade-up" data-aos-delay="300">
                        <p>~2.5kgs<br>17.6*13*31 cms</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 col-lg-3 col-sm-12" data-aos="fade-up" data-aos-delay="300">
                        <div class="text">
                            Power
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12" data-aos="fade-up" data-aos-delay="300">
                        <div class="image">
                            <img src="assets\specification\05.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12" data-aos="fade-up" data-aos-delay="300">
                        <p>• USB-C Power Adapter, 5V DC, 2A<br>• 100-220V AC</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 col-lg-3 col-sm-12" data-aos="fade-up" data-aos-delay="300">
                        <div class="text">
                            Rechargeable Battery (optional)
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12" data-aos="fade-up" data-aos-delay="300">
                        <div class="image">
                            <img src="assets\specification\06.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12" data-aos="fade-up" data-aos-delay="300">
                        <p>3.6V Li-Ion, 4200 mAh</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 col-lg-3 col-sm-12" data-aos="fade-up" data-aos-delay="300">
                        <div class="text">
                            Wireless Connectivity
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12" data-aos="fade-up" data-aos-delay="300">
                        <div class="image">
                            <img src="assets\specification\07.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12" data-aos="fade-up" data-aos-delay="300">
                        <p>• Wi-Fi IEEE802.11 b/g/n</p>
                        <p>• Bluetooth V4.2 BR/EDR and Bluetooth LE</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 col-lg-3 col-sm-12" data-aos="fade-up" data-aos-delay="300">
                        <div class="text">
                            Mobile App
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12" data-aos="fade-up" data-aos-delay="300">
                        <div class="image">
                            <img src="assets\specification\08.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12" data-aos="fade-up" data-aos-delay="300">
                        <p>Android: &lt; LifeLabz &gt;</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 col-lg-3 col-sm-12" data-aos="fade-up" data-aos-delay="300">
                        <div class="text">
                            Sensors
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12" data-aos="fade-up" data-aos-delay="300">
                        <div class="image">
                            <img src="assets\specification\09.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12" data-aos="fade-up" data-aos-delay="300">
                        <p>• Photoelectric Sensor</p>
                        <p>• Liquid Level Sensor (In IoT model only)</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 col-lg-3 col-sm-12" data-aos="fade-up" data-aos-delay="300">
                        <div class="text">
                            Actuators
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12" data-aos="fade-up" data-aos-delay="300">
                        <div class="image">
                            <img src="assets\specification\10.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12" data-aos="fade-up" data-aos-delay="300">
                        <p>• Liquid Dispense Pump</p>
                        <p>• Buzzer</p>
                        <p>• LEDs: Green, Amber and RED</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 col-lg-3 col-sm-12" data-aos="fade-up" data-aos-delay="300">
                        <div class="text">
                            Package Contents
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12" data-aos="fade-up" data-aos-delay="300">
                        <div class="image">
                            <img src="assets\specification\11.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12" data-aos="fade-up" data-aos-delay="300">
                        <p>• Sanitizer/Soap Liquid Dispenser</p>
                        <p>• Power Adapter</p>
                        <p>• Collection Tray</p>
                        <p>• Funnel</p>
                        <p>• Lock-Key</p>
                        <p>• WiFi Antenna (In IoT model only)</p>
                        <p>• Quick setup guide</p>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>
<app-add-on-section></app-add-on-section>