<div class="section">
    <div class="container">
        <h2 class="heading">FAQs</h2>
        <div class="section1">
            <div class="content">
                <h6 class="faq-heading">What is LifeLabz?</h6>
                <p class="faq-desc">LifeLabz provides smart life solutions that are IoT powered and can be used for individual and collective needs alike. Find out more about us here.</p>
            </div>
            <div class="content">
                <h6 class="faq-heading">What is the Dispenser? How do I purchase it?</h6>
                <p class="faq-desc">This product is a smart sanitizing dispenser that can track sanitizing liquid use, send alerts when levels fall low, and is fully contactless in operation. It can be purchased here. For bulk requirements, please email us at contact@life9sys.com</p>
            </div>
            <div class="content">
                <h6 class="faq-heading">Where can this product be used?</h6>
                <p class="faq-desc">The Dispenser has been built to be used across needs! Use it at home, or at group settings such as at work, at a hospital or medical center, in industries or commercial establishments- the product is versatile and works across your needs.
                    Find out more about how it can be used here.</p>
            </div>
            <div class="content">
                <h6 class="faq-heading">Where can I place an order?</h6>
                <p class="faq-desc">Please find the ordering details here.</p>
            </div>
            <div class="content">
                <h6 class="faq-heading">Where can I find support?</h6>
                <p class="faq-desc">Our extensive help documentation is available here.</p>
            </div>
            <div class="content">
                <h6 class="faq-heading"></h6>
                <p class="faq-desc">For any queries that aren’t addressed in the documentation, please contact us at contact@life9sys.com</p>
            </div>
        </div>
    </div>
</div>
<app-add-on-section></app-add-on-section>