.section {
    margin-top: 10%;
}

.section.content {
    padding-top: 20px;
    padding-bottom: 20px;
}

.faq-heading {
    font-size: 1em;
    font-weight: 500;
    padding-top: 3em;
    margin: 0;
    padding-bottom: 0.2em;
    line-height: 1.1;
}

.faq-desc {
    margin: 0;
    font-weight: 200;
    padding-bottom: 3em;
    font-weight: 200;
}

.section .content {
    border-top: 1px solid #CBCBCB;
}

.content:nth-child(1) {
    border-top: none!important;
}

@media only screen and (min-width: 360px) and (max-width:766px) {
    .section {
        margin-top: 20%;
        padding-top: 10%;
    }
    .section {
        width: 100%;
    }
}

@media only screen and (min-width: 238px) and (max-width:360px) {
    .section {
        margin-top: 37%;
    }
    .section {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width:1024px) {
    .section {
        margin-top: 10%;
        padding-top: 10%;
    }
    .section {
        width: 100%;
    }
}