<app-know-avi></app-know-avi>

<div class="section container">
    <div class="row">
        <div class="col-sm-6 heading-top">
            <div class="" data-aos="fade-up">
                <h2 class="heading-first">Smart sanitizing for a safer world</h2>
            </div>
        </div>
        <div class="col-sm-6"></div>
    </div>

    <div class="section2">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3 " data-aos="fade-left" data-aos-delay="300">
                <img src="assets\overview\Overview_Image01.jpg" alt="" class="img-fuild boder-img">
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 " data-aos="fade-right" data-aos-delay="600">
                <img src="assets\overview\Overview_Image02.jpg" alt="" class="img-fuild boder-img">
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 " data-aos="fade-right" data-aos-delay="900">
                <img src="assets\overview\Overview_Image03.jpg" alt="" class="img-fuild boder-img">
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 " data-aos="fade-right" data-aos-delay="1200">
                <img src="assets\overview\Overview_Image04.jpg" alt="" class="img-fuild boder-img">
            </div>
        </div>
    </div>

    <div class="section3">
        <div class="container">
            <h3 class="heading-third">Overview</h3>
            <div class="row section-center" data-aos="fade-up" data-aos-duration="2000">
                <div class="col-md-12 col-lg-6 col-sm-12">
                    <p>When it comes to health and safety, nothing is worth leaving to chance! &nbsp;<strong class="font-weight-bold">Our product makes sanitizing a smart, safe, contactless and intuitive experience</strong>.In turn, this ensures that your
                        sanitization protocol is always successful.</p>
                    <p>No more running out of sanitizers, or being unsure of its actual usage. This product provides a quick, seamless alternative to the contactless sanitization options currently available, thus ensuring better usability, and assurance
                        that everyone passing by this device is sanitized.</p>
                </div>
                <div class="col-md-12 col-lg-6 col-sm-12" data-aos="fade-up" data-aos-delay="400">
                    <!-- <p>Add-on features such as RFID tracking, infrared temperature scanning and more ensure that this device adapts seamlessly, whatever your need may be.</p> -->
                    <p>The Dispenser is a unique and innovative product which is designed and manufactured in India.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row space">
        <div class="bullet" data-aos="fade-up" data-aos-delay="500">
            <ul>
                <li>IOT</li>
                <li>Wi-Fi</li>
                <li>In-built Battery Charger</li>
                <li>USB-C connection</li>
            </ul>
        </div>
    </div>


    <div class="section4">
        <div class="container">
            <div class="headline">
                <h3 class="heading-third">Activate it @</h3>
            </div>
            <div class="subtask" data-aos="fade-up" data-aos-duration="2000">
                <p>This device can be used effectively at Healthcare centres, Offices, Malls, Hotels, Commercial establishments, Transportation facilities, Institutional facilities, Factories, Religious houses, Homes etc. to ensure that health and wellbeing
                    always get the priority they deserve.</p>
            </div>

            <div class="row " data-aos="fade-down" data-aos-duration="1000">
                <div class="col-md-2 col-md-offset-1  col-lg-2 col-lg-offset-1 col-sm-6 col-sm-offset-1  col-6">
                    <div class="image p-3">
                        <img src="assets\overview\office.svg" alt="" class="image-icon">
                    </div>
                    <div class="text">
                        <p>Office/ Work Spaces</p>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2  col-sm-6  col-6">
                    <div class="image p-3">
                        <img src="assets\overview\hotels.svg" alt="" class="image-icon">
                    </div>
                    <div class="text">
                        <p>Hotels / Resorts</p>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2  col-sm-6  col-6">
                    <div class="image p-3">
                        <img src="assets\overview\govermentoffice.svg" alt="" class="image-icon">
                    </div>
                    <div class="text">
                        <p>Goverment Offices</p>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2  col-sm-6  col-6">
                    <div class="image p-3">
                        <img src="assets\overview\school.svg" alt="" class="image-icon">
                    </div>
                    <div class="text">
                        <p class="img-desc">Schools/ Eductional Facilities</p>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-6 col-sm-offset-1  col-6">
                    <div class="image p-3">
                        <img src="assets\overview\hospitals.svg" alt="" class="image-icon">
                    </div>
                    <div class="text">
                        <p>Hospitals/ Healthcare</p>
                    </div>
                </div>
            </div>

            <div class="row" data-aos="fade-down" data-aos-duration="2000">
                <div class="col-md-2 col-md-offset-1  col-lg-2  col-sm-6 col-6">
                    <div class="image p-3">
                        <img src="assets\overview\malls.svg" alt="" class="image-icon">
                    </div>
                    <div class="text">
                        <p>Malls/ Commercial Spaces</p>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2 c col-sm-6  col-6">
                    <div class="image p-3">
                        <img src="assets\overview\banks.svg" alt="" class="image-icon">
                    </div>
                    <div class="text">
                        <p>Banks/ Financial Institutions</p>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2 c col-sm-6  col-6">
                    <div class="image p-3">
                        <img src="assets\overview\worship.svg" alt="" class="image-icon">
                    </div>
                    <div class="text">
                        <p>Factories</p>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2 c col-sm-6  col-6">
                    <div class="image p-3">
                        <img src="assets\overview\residentalhouse.svg" alt="" class="image-icon">
                    </div>
                    <div class="text">
                        <p>Residental Houses</p>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-6 col-sm-offset-1  col-6">
                    <div class="image p-3">
                        <img src="assets\overview\airpot.svg" alt="" class="image-icon">
                    </div>
                    <div class="text">
                        <p>Airports</p>
                    </div>
                </div>
            </div>

            <div class="row" data-aos="fade-down" data-aos-duration="3000">

                <div class="col-md-2 col-md-offset-1  col-lg-2  col-sm-6 col-6">
                    <div class="image p-3">
                        <img src="assets\overview\bus.svg" alt="" class="image-icon">
                    </div>
                    <div class="text">
                        <p>Bus Stations</p>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2 c col-sm-6  col-6">
                    <div class="image p-3">
                        <img src="assets\overview\railway.svg" alt="" class="image-icon">
                    </div>
                    <div class="text">
                        <p>Railway/ Metro Stations</p>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2 c col-sm-6  col-6">
                    <div class="image p-3">
                        <img src="assets\overview\factories.svg" alt="" class="image-icon">
                    </div>
                    <div class="text">
                        <p>Please of worship</p>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2 c col-sm-6  col-6">
                    <div class="image p-3">
                        <img src="assets\overview\restaurants.svg" alt="" class="image-icon">
                    </div>
                    <div class="text">
                        <p>Restaurants/ Cafes Delis</p>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-6 col-sm-offset-1  col-6">
                    <div class="image p-3">
                        <img src="assets\overview\entertainment.svg" alt="" class="image-icon">
                    </div>
                    <div class="text">
                        <p>Entertainment/ Sports Facilities</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<app-add-on-section></app-add-on-section>