.sidenav {
    padding: 1em ;
}

.admin-profile {
    text-align: center;
    margin: 0px;
}

.admin-username {
    font-family: 'Charlie Display';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin: 0px;
}

.admin-userid {
    font-family: 'Charlie Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;    
 }

 .admin-console {
     padding: 0px;
     margin: 1em 3em;
 }

 .admin-console li {
    list-style-type: none;
    font-family: 'Charlie Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 5px;
 }