<div *ngIf="manageShips == true">
    <div class='row' >
        <div class="col-sm-9">
           <h1 class="title-admin">
            Manage Ships
           </h1> 
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-xl-4">
            <div class="input-group search-users" style="padding-top: 2px;">
                <span class="input-group-addon">
                  <svg style="margin-top:6px;padding-bottom: 5px;" width="18" height="18" viewBox="0 0 14 14" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path id="imageColors" fill-rule="evenodd" clip-rule="evenodd"
                      d="M6.33335 0.166626C2.9276 0.166626 0.166687 2.92754 0.166687 6.33329C0.166687 9.73905 2.9276 12.5 6.33335 12.5C7.73544 12.5 9.0289 12.0317 10.0648 11.2433L12.4108 13.5892C12.7362 13.9146 13.2638 13.9146 13.5893 13.5892C13.9147 13.2638 13.9147 12.7361 13.5893 12.4107L11.2433 10.0648C12.0317 9.02883 12.5 7.73538 12.5 6.33329C12.5 2.92754 9.73911 0.166626 6.33335 0.166626ZM1.83335 6.33329C1.83335 3.84801 3.84807 1.83329 6.33335 1.83329C8.81863 1.83329 10.8334 3.84801 10.8334 6.33329C10.8334 7.54169 10.3575 8.63828 9.58221 9.44697C9.5574 9.46667 9.53354 9.48793 9.51076 9.5107C9.48799 9.53348 9.46673 9.55734 9.44703 9.58214C8.63834 10.3574 7.54176 10.8333 6.33335 10.8333C3.84807 10.8333 1.83335 8.81857 1.83335 6.33329Z" />
                  </svg>
                </span>
                <form [formGroup]="shipSearchForm" noValidate>
                    <input style="width: inherit;" formControlName="search_text" id="search" type="text" class="form-control" placeholder="Search By Name, MMSI, IMO, Category"
                    (ngModelChange)="getSearchResultForShips($event)"
                  autocomplete="off" style="padding-bottom: 7px;" />
                 
                </form> 
                <span id='close' class="input-group-addon">
                  <a class="nav-link padding-lr-0 clearSearch" (click)="clearSearch()" style="padding:0px 0.7em 0px 0px;">
                    <svg style="position:absolute; right: 1;margin-top: 6px" width="14" height="14"
                      viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path id="imageColors"
                        d="M1.58921 0.410734C1.26378 0.0852973 0.73614 0.0852973 0.410704 0.410734C0.0852668 0.736171 0.0852668 1.26381 0.410704 1.58925L3.82145 4.99999L0.410704 8.41073C0.085267 8.73617 0.085267 9.26381 0.410704 9.58924C0.73614 9.91468 1.26378 9.91468 1.58921 9.58924L4.99996 6.1785L8.4107 9.58924C8.73614 9.91468 9.26378 9.91468 9.58921 9.58924C9.91465 9.26381 9.91465 8.73617 9.58921 8.41073L6.17847 4.99999L9.58921 1.58925C9.91465 1.26381 9.91465 0.736171 9.58921 0.410734C9.26378 0.0852972 8.73614 0.0852972 8.4107 0.410734L4.99996 3.82148L1.58921 0.410734Z" />
                    </svg>
                  </a>
                </span>
              </div>
              <p class="note" style="margin-left: 2em;" *ngIf='seachedTextCount !== 0' >
                We found {{shipSearchedCount}} ships matching this criteria.
              </p>

        </div>
      
    </div>

    <hr/>

    <div class="row">
        <div class="col-sm-11">
            <table class="table table-responsive dashboard-table" matSort (matSortChange)="sortShipData($event)">
                <tr class="heading">
                  <th mat-sort-header="sn">Ship name</th>
                  <th mat-sort-header="msi">MMSI</th>
                  <th mat-sort-header="im">IMO</th>
                  <th mat-sort-header="ct">Category</th>
                  <th mat-sort-header="cls">Class</th>
                  <th mat-sort-header="co">COO</th>
                  <th mat-sort-header="ln">Length</th>
                  <th mat-sort-header="wd">width</th>
                </tr>
                <tr *ngFor="let s of allShipsSortedData | paginate: {itemsPerPage: itemsPerPage, currentPage:currentPage, id: 'allPaginator'}" >
                  <td>{{s.sn}}</td>
                  <td>{{s.msi}}</td>
                  <td>{{s.im}}</td>
                  <td>{{s.ct}}</td>
                  <td>{{s.cls}}</td>
                  <td>{{s.co}}</td>
                  <td>{{s.ln}}</td>
                  <td>{{s.wd}}</td>
                  
                </tr>
              </table>
              <pagination-controls (pageChange)="currentPage = $event" id="allPaginator"></pagination-controls>
        </div>
        
    </div>
    
</div>
