.dashboard-outerbox {
    // padding: 24px 32px;
    padding: 24px 10px;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 24px 0px;
}


.title {
    font-family: Charlie Text;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin: 4px 0px;
}

.subtitle {
    font-family: Charlie Display;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    margin: 4px 0px;
}


.value {
    font-family: Charlie Display;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    text-align: right;
    letter-spacing: -0.01em;
}


.countries {
    padding: 5px;
    border-radius: 8px;
    margin: 10px;
    text-align: center;
    width: 100%;
}

.countries:focus {
    border: 1px solid #E6E5E5;
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.notselected {
    background: #FFFFFF;  
    box-sizing: border-box;
    // box-shadow: 0px 1px 4px rgba(236, 236, 236, 0.05);
}

.selected {
    border: none !important;
}

.selected .country_name {
    color: #FFFFFF;
}

.country_name {
    font-family: Charlie Text;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    // text-align: center;
}

.country_value {
    margin-right: 10px;
}

.coo-scroll {
    max-height: 23em;
    overflow-y: auto;
    overflow-x: hidden;
}

.neighbouring-scroll {
    max-height: 15em;
    overflow-y: auto;
    overflow-x: hidden;
}

.dashboard-settingbox {
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
}


.dashboard-table th {
    font-family: CharlieText-Bold;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0px 8px;
}

.dashboard-table td {
    font-family: Charlie Text;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.dashboard-btn {
    font-family: CharlieText-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px !important;
    color: #FFFFFF;
    padding: 10px;
}


.threshold {
    font-family: Charlie Text;
    font-size: 14px;
    line-height: 24px;
    padding: 10px;
}

.select_showtop { 
    border: none;
    background-color: transparent;
}

.select_showtop:focus {
    outline:0px !important;
    box-shadow: none !important;
}

::ng-deep .mat-sort-header-arrow {
    color: white !important;
    transform: none !important;
    opacity: 1 !important;
}

.map-dashboard {
    height: 75em;
}
.ship-search {
    border-radius: 5px !important;
    padding: 3px;
}
.ship-search input,  .ship-search input::placeholder  {
    color: black !important;
}

.ship-search input{
    font-family: Charlie Text;
    background-color: transparent;
    border: none;
    padding: 0px;
    margin-left:5px;
    color: white;
    /* // width: 8em; */
}
    
.ship-search span {
    margin-top: 0.5em;
}

.ship-search  .form-control:focus {
    background-color: transparent !important;
    border-color: none !important;
    box-shadow: none !important;
}

.heart-img {
    height: 3em;
    cursor: pointer;
}

.disabled-img {
    cursor: not-allowed;
}

.vh-90 {
    height: 90%;
    width: 90%;
}

.input-btn {
    font-size: 14px;
    line-height: 14px;
    padding: 10px;
}
  
.input-btn a {
    color: white;
}

.padding-0px {
    padding: 0px !important;
}

.margin-bottom-10px {
    margin-bottom: 10px;
}