<div class="container">
    <app-navbar></app-navbar>
    <div *ngIf="sendrequest == 'true'" class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 forgot-password">
            <h2>Forgot Password</h2>
            <p>Don't worry, we all forget. We'll send you instructions on how to reset your password. </p>
            <p id='alert-message' class="alert-message display-none">
                <img class="img-vertical-align padding-right5px" src='../../../../assets/login/alert.svg' alt="alert" />
                {{ errorMessage }}
            </p>
            <form [formGroup]="userIDForm" noValidate>
                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input type="text" id="userid" formControlName="userid"
                        [ngClass]="{ 'is-invalid': useridsubmitted && u.userid.invalid }" matInput
                        placeholder="Enter your username">
                    <mat-icon matSuffix><img class="img-vertical-align" src='../../../../assets/login/grey-username.svg'
                            alt="username" /></mat-icon>
                    <mat-hint class="danger" *ngIf="useridsubmitted && u.userid.errors?.required">Username is required.
                    </mat-hint>
                </mat-form-field>
                <p class="forgot-username"><a routerLink='/Forgot-username'>FORGOT USERNAME?</a></p>
                <button mat-flat-button (click)="getSecurityQuestion()" class="login-button margin-0 getSecurityQuestion-button">
                    VAlidate
                </button>
            </form>
            <div class="security-answer dashedline" id="input-line" *ngIf="showAnswerDiv == 'true'">
                <h4>Answer the Security Question <span class="security-note" > (Case Sensitive)</span></h4>
                <form [formGroup]="forgotpasswordForm" noValidate>
                    <div id="security-question-answer" class="security-question-answer">
                        <p>Q. {{securityquestion}}</p>

                        <input (focus)="focus()" (blur)="blur()" type="text" id="sq_answer" formControlName="sq_answer"
                            placeholder="Type your answer here" class="form-control sq_answer_input"
                            [ngClass]="{ 'is-invalid': forgotpasswordsubmitted && f.sq_answer.invalid }">
                        <div *ngIf="forgotpasswordsubmitted && f.sq_answer.invalid" class="invalid-feedback">
                            <div *ngIf="f.sq_answer.errors.required">Answer is required.</div>
                        </div>
                    </div>
                    <button mat-flat-button (click)="forgotPassword()" class="login-button forgotPassword-button">
                        Submit
                    </button>
                </form>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div *ngIf="sendrequest == 'false'" class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 success_message">
            <img src="../../../../assets/login/check.png" alt="check" />
            <!-- <i class="material-icons">check_circle</i> -->
            <h2>Request Sent</h2>
            <p>We have sent your request to the <b class="boldFont">Administrator</b>
                to reset
                your account password.</p>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>