.roi {
    height: calc(100vh - 100px);
    padding: 1em;
}

.roi h3 {
    font-family: Charlie Display;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}

.roi .markarea{
    font-family: CharlieText-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 2px !important;
}

.roi .regionlist {
    margin-top: 1em;
    //background: #413F3F;
    border-radius: 4px;
    padding: 1em;
}

.roipoint {
    font-family: Charlie Text;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #827D7D;
}

.regionname {
    font-family: Charlie Text;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
  }

//   .scroll_soi{
//     max-height: 20em;
//     overflow-y: auto;
//   }


  .dotted_wrap {
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }


  #roi::placeholder {
    font-family: Charlie Text;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: 'titl' on, 'case' on, 'ordn' on;
    color: #686464;
    }
    
    
    .roipannel {
      z-index: 1000;
      bottom: 0;
      position: fixed;
      font-family: Charlie Text !important;
      left: 50%;
      transform: translate(-50%, 0%);
    }

    .roipannel #roipannel-header {
      width:  75em;
      height: auto;
      bottom: 0;    
      margin-left: 15px;
    
    }
    
    .roipannelheader {
        font-size: 20px;
        font-family: CharlieText-Bold;
    }
    
    
    .roipannelsubheader {
    font-family: CharlieText-Bold;
    font-style: normal;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 26px;
    color: white;
    margin-left: 0.5em;
    }

    .divider-line {
      border:1px solid #FFFFFF;
    }
    .showtraj {
      font-family: CharlieText-Bold;
      font-style: normal;
      font-size: 10px;
      text-transform: uppercase;
      line-height: 26px;
      color: white;
    }
    
    .roiinfopannel .roishipinfo {
    padding: 1em 0px;
    // border-bottom: 1px solid #4E4B4B;
    }
    
    .roiinfopannel .shipname , .shipname{
      font-family: Charlie Text;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      color: white;
      margin-left: 2px;
    }
    
    
    
    .roiinfopannel .shipcountheading{
    font-family: Charlie Text;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #9B9797;
    }
    
    .roiinfopannel .shipcount {
    font-family: Charlie Text;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: white;
    }
    
    .roishipdetialinfo {
    margin-top: 12px;
    }
    
    .roiinfopannel {
    // background: #413F3F;
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
    }
    
    .roiinfomainpannel {
    max-height: 35em;
    overflow-y: auto;
    }
    
    .roitimelinepannel {
      max-height: 30em;
      overflow-y: auto;
      margin: 5px;
    }

    .roicharts {
      margin: 10px;
    }
  
    .scroll-limit-roi {
      max-height: 30em;
      overflow-y: auto;
      overflow-x: hidden;
    }


  .timelineinfo_category, .timelineinfo_category_active{
    border-radius: 4px;
    // margin-bottom: 5px;
    font-family: Charlie Text;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    margin: 5px;
  }
  
  .timelineinfo_category:focus, .timelineinfo_category_active:focus {
    box-shadow: none !important;
  }
  
  .timelineinfo_category:hover, .timelineinfo_category_active:hover {
    color: white !important;
  }

  .trackandanomaly-header {
    font-size: 20px;
    font-family: CharlieText-Bold;
  }
  
  .trackandanomaly .nav-pills {
      font-family: Charlie Text;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 16px;
  }
  
  .anomalyinfo .nav-pills {
      font-family: Charlie Text;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
  }
  
  .trackandanomaly .nav-pills .nav-link.active, .anomalyinfo .nav-pills .nav-link.active {
      background-color: transparent;
      border-radius: 0px; 
      font-family: CharlieText-Bold;
  }