<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/product/overview/']">Overview</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/product/features/']">Features</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/product/apps/']">AppS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/product/specification/']">Specification</a>
    </li>
</ul>