/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";

@font-face {
  font-family: "CharlieDisplay-Bold";
  src: local("CharlieDisplay-Bold"), url(./assets/fonts/CharlieDisplay-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "CharlieDisplay-Light";
  src: local("CharlieDisplay-Light"), url(./assets/fonts/CharlieDisplay-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Charlie Display";
  src: local("Charlie Display"), url(./assets/fonts/CharlieDisplay-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "CharlieText-Bold";
  src: local("CharlieText-Bold"), url(./assets/fonts/CharlieText-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Charlie Text";
  src: local("CharlieText-Regular"), url(./assets/fonts/CharlieText-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Digital Numbers";
  src: local("Digital Numbers"), url(./assets/fonts/DS-DIGIB.ttf.TTF) format("truetype");
}

.is-invalid {
    border: 2px solid red;
}

.invalid-feedback, .danger, .red {
    color: red;
}

.breadcrumb {
    background-color: white!important;
    text-align: right;
}

.redbackgroundColor {
    background-color: #FFC7CE!important;
}

.cursor {
    cursor: pointer;
}

.text-white {
  color: white !important;
}

// map
.map {
    width: auto;
    height: calc(100vh - 100px);
  }

.ol-mouse-position {
    font-weight: bold !important;
  }
//   popup
  .addfav {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    left: 350px;
    min-width: 220px;
    height: 120px;
    font-size: 12px;
    font-family: Charlie Text;
    cursor: pointer;
    display: block;
  }
  .togroup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    left: 570px;
    top: 165px;
    width: max-content;
    font-size: 12px;
    font-family: Charlie Text;
    cursor: pointer;
    display: block;
  }


  .ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 350px;
  }
  .ol-popup-hover {
    position: absolute;
    background-color: white;
    //box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #cccccc;
   // bottom: 12px;
    //left: -50px;
    min-width: 220px;
  }
  .ol-popup:after, .ol-popup:before  {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .ol-popup:after , .ol-popup-hover:after{
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
  }
  .ol-popup:before,.ol-popup-hover:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
  }
  .ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
  }
  // .ol-popup-closer:after {
  //   content: "✖";
  // }

  .li-text-color li{
    color: #999;
    display: block;
    float: left;
    text-decoration: none;
  }


 .mat-expansion-panel-header-title{
    color: white;
  }

  .mat-expansion-panel-body,  .mat-expansion-panel-header{
    padding: 10px !important;
  }

  .mat-checkbox-frame {
    border: 1px solid white;
  }

  .mat-expansion-panel-header-description, .mat-expansion-indicator::after {
    color: #e0e0e0 !important;
  }


  a{
    text-decoration: underline!important;
    cursor: pointer;
  }

  .bold {
    font-weight: bolder!important;
  }

  .sidebar-nav a{
    text-decoration: none!important;
  }

  .success_message {
    text-align: center;
    margin-top: 20%;
  }

  .success_message h2 {
    font-family: Charlie Display;
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 64px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #343232;
    // margin: 24px 0px;
  }

  .success_message i {
    font-size: 40px;
  }
  .success_message p {
    font-family: Charlie Text;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #827D7D;
    margin: 24px 0px;
  }

  .success_message a {
    color: black!important;
    text-decoration: none!important;
  }


  //  Login error message
  .alert-message{
    padding: 12px 16px;
    background-color: #E6E5E5;
    border: 1px solid #CDCBCB;
    border-radius: 4px;
    font-family: Charlie Text!important;
    font-style: normal!important;
    font-weight: 500!important;
    font-size: 14px!important;
    line-height: 16px!important;
    color: #343232!important;
  }

  // End login error message

  .active-list-item h4{
    color: white!important;
  }




#trackinfo-header{
  padding: 10px 5px;
  font-family: CharlieText-Bold;
}
#trackinfo-content{
  padding: 25px !important;
  // margin-bottom: 0px ;
  margin: 5px!important;
}

#trackinfo-subcontent{
  padding: 25px !important;
  background:#123D69 !important;
  // margin-bottom: 0px ;
  margin: 5px!important;
}
#trackinfo-firstrow{
  padding-bottom: 15px;
}
.example-card{
  color: white;
  background-color: #4E4B4B;
  padding: 5px !important;
  margin: 10px !important;
}
.expansion-icon{
  font-size: 5px;
  vertical-align: middle;
  font-size: 14px;
  }
.heart-img{
  padding-left: 4px;
}

.highcharts-credits {
  display: none;
}

.display-none {
  display: none;
}

.boldFont {
  color:black;
  font-family: CharlieText-Bold;
}

.width100 {
  width: 100%;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: black;
}