<app-know-avi></app-know-avi>
<div class="container">
    <div class="section">
        <div class="section1" data-aos="fade-up" data-aos-delay="200">
            <div class="container-fuild headline">
                <h2 class="heading">Fully loaded. Or not. As you like it!</h2>
                <h4 class="sub-heading">Features</h4>
            </div>
        </div>

        <div class="section2">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-lg-6" data-aos="fade-up" data-aos-delay="400">
                    <div class="image">
                        <img src="assets\features\features_01.svg" alt="">
                        <p class="imagedesc" class="imagedesc">Configurable dispense volume from 0.5ml to 2ml</p>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 col-lg-6" data-aos="fade-up" data-aos-delay="500">
                    <div class="image">
                        <img src="assets\features\features_02.svg" alt="">
                        <p class="imagedesc">2l tank with refill option with liquid level continuously measured and alerted through LEDs, Buzzers and Mobile App</p>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 col-lg-6" data-aos="fade-up" data-aos-delay="400">
                    <div class="image">
                        <img src="assets\features\features_03.svg" alt="">
                        <p class="imagedesc">Liquid: Alcohol or Gel based Sanitizer and Soap making it ideal for use in bathrooms</p>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 col-lg-6" data-aos="fade-up" data-aos-delay="500">
                    <div class="image">
                        <img src="assets\features\features_04.svg" alt="">
                        <p class="imagedesc">Alarm Buzzer and 3 LEDs signal the Battery, Liquid Level and Wi-Fi status</p>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 col-lg-6" data-aos="fade-up" data-aos-delay="400">
                    <div class="image">
                        <img src="assets\features\features_05.svg" alt="">
                        <p class="imagedesc">USB-C Power connector for Main Power as a substitute in case of defect in the Power Adapter</p>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 col-lg-6" data-aos="fade-up" data-aos-delay="500">
                    <div class="image">
                        <img src="assets\features\features_06.svg" alt="">
                        <p class="imagedesc">In-built Rechargeable Battery option. Can also be powered through Battery Bank</p>
                    </div>
                </div>



                <div class="col-md-6 col-sm-12 col-lg-6" data-aos="fade-up" data-aos-delay="400">
                    <div class="image">
                        <img src="assets\features\features_09.svg" alt="">
                        <p class="imagedesc">Centralized Monitoring Software for multi-facility setups – Mobile and Enterprise</p>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 col-lg-6" data-aos="fade-up" data-aos-delay="500">
                    <div class="image">
                        <img src="assets\features\features_10.svg" alt="">
                        <p class="imagedesc">Designed and manufactured in India</p>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 col-lg-6" data-aos="fade-up" data-aos-delay="400">
                    <div class="image">
                        <img src="assets\features\features_11.svg" alt="">
                        <p class="imagedesc">Configurable Notifications: Temp Alert set, RFID enable/disable, Refill, Low Battery, High / Low Utilization</p>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 col-lg-6" data-aos="fade-up" data-aos-delay="500">
                    <div class="image">
                        <img src="assets\features\features_12.svg" alt="">
                        <p class="imagedesc">Both Cloud and On premises Server option for both application Software and Data collection</p>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 col-lg-6" data-aos="fade-up" data-aos-delay="400">
                    <div class="image">
                        <img src="assets\features\features_13.svg" alt="">
                        <p class="imagedesc">Statistical Analysis – To ensure Sanitiser liquid supply based on demand</p>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 col-lg-6" data-aos="fade-up" data-aos-delay="500">
                    <div class="image">
                        <img src="assets\features\features_14.svg" alt="">
                        <p class="imagedesc">Wall-Mount, Table-Top and Floor-Stand options</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<app-add-on-section></app-add-on-section>